<html lang="en" ng-app="Client">
<head>  
<title>Clients</title>

<!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="Cli">
 <section class="wrapper">

            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt" ng-hide="clientForm">
              <div class="col-lg-12">
                  <div class="form-panel">
                      <h4 class="mb"><i class="fa fa-angle-right"></i>Client's Details</h4>
                      <form class="form-horizontal style-form" ng-submit="saveClient()">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Name</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" ng-model="client.name">
                              </div>
                          </div>
                            <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Purpose</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" ng-model="client.purpose">
                                 </div>
                          </div>
                          
                           <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Contacts</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" ng-model="client.contact">
                              </div>
                          </div>
                          
                        <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">Photo</label>
                          <div class="col-sm-10">
                          
                          <h1>Upload client's Photo</h1>
        				<!-- 	<form action="client/upload" method="post" enctype="multipart/form-data">  -->
           				 <p> File name : <input type="text" name="fileName" /></p> 
           				   <input type="file" name="selectedFile"  class="form-control" ng-model="client.file" /> 
           				  
           				  
           		<!--      submit inside submit solve  -->
           					<input type="submit" value="Upload" />
        				<!-- 	</form>  -->
                           </div>
                          </div>
                                                                             
                          <div><input type="submit" value="Save" class="btn btn-success"> |
                         <button input type="reset" value="Cancel!" class="btn btn-primary" >Cancel</button>
                           |<button type="button" class="btn btn-primary" ng-click="showClient()">Close</button></div>
                      </form>
                  </div>
              </div><!-- col-lg-12-->       
            </div><!-- /row -->

              <div class="row mt" ng-hide="clientTable">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
                          <div class="row">
	                  	  	  <h4><i class="fa fa-angle-right"></i> Add A client<button class="btn btn-primary btn-xs" ng-click="createClient()"><i class="fa fa-plus"></i></button></h4>
                              <div>
                                <div class="col-lg-6"></div>
                                <div class="col-lg-4">
                                  <input type="text" ng-model="name_search" class="form-control">
                                  </div>
                                  <div class="col-lg-2">
                                  <input type="submit" value="Search" class="btn btn-primary" ng-click="search()">
                                  <input type="submit" value="Reset" class="btn btn-primary" ng-click="reset()">
                                </div>
                              </div>
                            </div>
	                  	  	  <hr>
                              <thead>
                              <tr>
                               <th><i class="fa fa-bullhorn"></i>Photo</th>
                                  <th><i class="fa fa-bullhorn"></i>Clients</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Purpose</th>
                                   <th><th class="hidden-phone"><i class="fa fa-question-circle"></i> Contacts</th> </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="client in clients">
                               <td><a href="basic_table.html#">{{client.file}}</a></td>
                                  <td><a href="basic_table.html#">{{client.name}}</a></td>
									 <td class="hidden-phone">{{client.purpose}}</td>
									 <td><a href="basic_table.html#">{{client.contact}}</a></td>                      
                                  <td>
                                      <!--<button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button> -->
                                      <button class="btn btn-primary btn-xs"ng-click="loadEdit($index)"><i class="fa fa-pencil"></i></button>

                                      <button class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o "></i></button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->  
              		</section>    
              		
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../assets/js/jquery.scrollTo.min.js"></script>
    <script src="../assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script type="text/javascript" src="../assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="../assets/angular/ui/angular-ui-router.js"></script>
    <script type="text/javascript" src="../jss/clients.js"></script>
              		
     </body>
</html>
            